export OPENCODE_AUTH=$(cat << .
{
  "minimax": {
    "type": "api",
    "key": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiJ3ZXNlIiwiVXNlck5hbWUiOiJwcml2YXRlIiwiQWNjb3VudCI6IiIsIlN1YmplY3RJRCI6IjIwMDQwNzY5MTk1Nzc5MDc0MjQiLCJQaG9uZSI6IiIsIkdyb3VwSUQiOiIyMDA0MDc2OTE5NTczNzE3MjE2IiwiUGFnZU5hbWUiOiIiLCJNYWlsIjoid2VzZUBub3BlLmF0IiwiQ3JlYXRlVGltZSI6IjIwMjUtMTItMjUgMTU6NDk6MzMiLCJUb2tlblR5cGUiOjQsImlzcyI6Im1pbmltYXgifQ.NTzpy2DkZj8tpZPeAkyAb3l9WSPqdRQf0A-j93eNGceXHWwp6w-5LgQXoYLwjgQVRNECaothxOD1ver2SPAIp6UIrYVV1QPdHO8Y7tXTbko3DM20zF2couptbhTYPkM6P7ni4HnznRoHDMcCS34EwacizanhKfQDw_bRwKi5Boga5v5s6yRGHc3teD64KWPHq62TNkeimTXW6aR0_hGv5_-2VS65NWlvqywyD9aQjuW30Uc7JOtP_TzdsSwop5tABoSwFO4_uFBcir7SWZPgh-jQnKk9i9hFAq4skBOd6N1ssxy4HcMHUFTiFjBCUOP5rsFBrATsJJABHH5D70NQ-Q"
  }
}
.
)
